/build
/build/**
/**/.DS_STORE
/.settings
/.settings/**
/bin
/bin/**
/gradle
/gradle/**
/.gradle
/.gradle/**
/.classpath
/.classpath/**
/gradle-app.setting
/gradlew
/gradlew.bat
/src/main/resources/application.properties
/user.gradle
